node_modules/
dist/
.env
server/storage/uploads/*
server/storage/reports/*
!server/storage/uploads/.gitkeep
!server/storage/reports/.gitkeep
*.sqlite3
*.db
logs/
*.log
.DS_Store
client/dist/
server/dist/
.vercel
temp/
tmp/
